.one{
    color:blue;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.two{
    color: yellow;
    background-color:black;
    padding: 40px;
    margin: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}
.head1{
    color: red;
    background-color: aqua;
    text-align: left;
}
.head2{
    color: black;
    background-color: white;
    text-align: right;
}